/* src/pages/LoginPage.css */

.login-container {
  padding: 40px;
  max-width: 400px;
  margin: 50px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.login-container form input {
  width: 100%;
  padding: 10px 28px 10px 10px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group {
  width: 95%;
}

.login-container form button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.login-container form button:hover {
  background-color: #0056b3;
}

.login-container .error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
.create-button
{
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}
.success-message{
color : #007bff;
}

.login-company-logo
{
     display: block;
     margin-left: auto;
     margin-right: auto;
    width : 150px;
    height : 50px;
}

/* Forgot Password paragarph tag */
.forgot-password {
  color: #004aad;
  cursor: pointer;
  margin: 10px 0;
  text-decoration: underline;
  font-weight: 600;
}

.forgot-password:hover {
  color: #003380;
}
.input-with-icon {
  position: relative;
  width: 95%;
}

.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
}

.input-icon.active {
  color: #007bff;
}
