.query-input label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
}

.query-input input,
.query-input textarea,
 .query-input select{
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #d0d5dd;
  font-size: 14px;
  display: flex;
   flex-direction: column;
}

.query-input textarea {
  resize: none;
}

/* WIDTH CONTROL */
.input-small { width: 220px; }
.input-large { width: 360px; }
.input-date  { width: 160px; }

.task-type-row {
  display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: nowrap;
}